* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

header .logo {
  text-align: center;
  padding: 20px;
  background-color: #1E9F9E;
}

header .logo img {
  width: 400px;
}

main .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .card-container .card {
  width: calc(100% / 4 - 20px);
  margin: 20px 10px;
}

main .card-container .card .image {
  height: 200px;
  background-image: url("/img/holiday.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

main .card-container .card .image span {
  padding: 5px;
  background-color: #6392A1;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
}

main .card-container .card .info h3 {
  margin: 10px 0;
}

